:root {
  --clr-header-background: rgb(255, 255, 255);
  --clr-main-background: rgb(245, 245, 245);
  --clr-light-grey: rgb(208, 208, 208);
  --clr-very-light-grey: rgb(243, 243, 243);
  --font-dark-grey: rgb(81, 81, 81);
  --font-light-grey: rgb(151, 151, 151);
  --font-orange: rgb(255, 128, 0);
  --icon-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mukta', sans-serif;
  background-color: var(--clr-main-background);
  color: var(--font-dark-grey);
}

/* ================
    general
   ================ */

.header {
  width: 100vw;
  height: 60px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 0 10px 0 var(--clr-light-grey);
  /* border: 1px solid red; */
}

.homepage-img-section {
  width: 100vw;
  height: 430px;
  display: none;
  /* border: 1px solid red; */
}

.homepage-img-section.show {
  display: flex;
  flex-direction: column;
}

.main {
  /* width: 80vw; */
  max-width: 1100px;
  width: 90%;
  height: 100%;
  margin: 25px auto;
  background-color: var(--clr-main-background);
  /* border: 1px solid red; */
}

.landing-page {
  display: none;
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
}

.landing-page.show {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-section {
  display: none;
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.search-section.show {
  display: block;
}

.full-recipe-section {
  display: none;
  width: 100%;
  margin-top: 50px;
  /* border: 1px solid red; */
}

.full-recipe-section.show {
  display: flex;
}

/* ================
    header
   ================ */

.app-title {
  font-size: 25px;
  font-weight: bold;
  line-height: 40px;
  /* to adjust the text to be in the center of div */
}

.search-bar-container {
  width: 50%;
  height: 35px;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid var(--clr-light-grey);
  border-radius: 25px;
}

.search-input {
  width: 100%;
  font-size: 15px;
  border: none;
  outline: none;
  padding: 0 10px;
  margin-right: 10px;
}

.search-input::placeholder {
  opacity: 0.3;
}

.search-btn {
  width: var(--icon-size);
  height: var(--icon-size);
  background-color: transparent;
  border: none;
  flex-shrink: 0;
}

.search-btn > img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

/* ================
    homepage image
   ================ */

.homepage-img-section.show {
  background-image: url(/images/welcoming-img.jpg);
  align-items: center;
  background-size: cover;
  background-position: 10% 40%;
}

.home-page-img-content {
  width: 700px;
  text-align: left;
  margin-top: 90px;
  /* border: 1px solid red; */
}

.slogan {
  font-size: 40px;
  color: white;
  margin-bottom: 20px;
}

.homepage.search-bar-container {
  min-width: 100%;
  height: 50px;
  background-color: white;
  padding: 0 20px;
  /* border: 1px solid red; */
}

.homepage.search-input {
  font-size: 18px;
  order: 2;
}

.homepage.search-btn {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

/* ================
    landing-page
   ================ */

.categories-section {
  /* border: 1px solid red; */
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.categories-section-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.categories-container {
  display: flex;
  justify-content: space-between;
  visibility: hidden;
  overflow: hidden;
  overflow-x: auto;
  overflow-y: auto;
  /* styling scrollbars on firefox */
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: grey transparent;
}

.categories-container:hover {
  visibility: visible;
}
/* styling scrollbars on Chrome, Edge, and Safari */
.categories-container::-webkit-scrollbar {
  height: 10px;
}

.categories-container::-webkit-scrollbar-track {
  background: transparent;
}

.categories-container::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 5px;
  border-top: 2px solid var(--clr-main-background);
  border-bottom: 2px solid var(--clr-main-background);
}

.category-block {
  min-width: 110px;
  height: 90px;
  margin-right: 20px;
  border: 1px solid rgb(226, 226, 226);
  padding: 20px;
  background-color: white;
  visibility: visible;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.category-name {
  line-height: 1.2;
  margin-top: 10px;
}

.suggestion-section {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.suggested-recipe-title {
  font-size: 18px;
  font-weight: bold;
  /* border: 1px solid red; */
}

.suggested-reason {
  color: var(--font-light-grey);
  font-weight: 300;
  font-style: italic;
  line-height: 1;
  margin-top: 5px;
  margin-bottom: 20px;
  /* border: 1px solid red; */
}

.suggested-recipes-container {
  width: 100%;
  display: flex;
  overflow: scroll;
  overflow-x: auto;
  overflow-y: auto;
}

.suggested-recipe-container {
  min-width: 260px;
  /* border: 1px solid blue; */
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.suggested-recipe-container > img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 5px;
  flex-shrink: 0;
}

.suggestion.recipe-name {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  /* border: 1px solid red; */
}

.suggestion.recipe-instructions {
  width: 100%;
  font-weight: 300;
  color: var(--font-light-grey);
  line-height: 1.4;
  margin: 10px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  /* border: 1px solid red; */
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--clr-light-grey);
  margin-top: 10px;
  margin-bottom: 10px;
  /* border: 1px solid red; */
}

.suggestion.recipe-tags {
  display: flex;
}

.suggestion.recipe-category,
.suggestion.recipe-area {
  font-weight: 300;
  margin-right: 10px;
  color: var(--font-orange);
  border-radius: 10px;
  /* border: 1px solid red; */
}

/* ================
    search-section
   ================ */

.search-section-title {
  font-size: 25px;
  font-weight: bold;
  /* border: 1px solid  red; */
}

.search-results-num {
  font-weight: 300;
  /* border: 1px solid  red; */
}

.search-section-body {
  width: 100%;
  /* border: 1px solid  red; */
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, minmax(230px, 1fr));
  gap: 30px;
}

.preview.result-container {
  --padding-left-right: 25px;

  border-radius: 8px;
  background-color: white;
  padding: 0px 0 20px;
  box-shadow: 0 0 15px 0 lightgrey;
}

.recipe-owner-details-container {
  width: 100%;
  padding: 15px var(--padding-left-right) 15px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  position: relative;
  z-index: 2;
}

/* .recipe-owner-details-container::after {
  content: "";
  background: url(images/white-texture.jpg);
  background-size: cover;
  background-position: top;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
} */

.owner-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
  background-color: rgba(255, 166, 0, 0.077);
}

.owner-details-text {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}

.share-time {
  color: var(--font-light-grey);
}

.preview.recipe-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  /* border: 1px solid red; */
}

.preview.recipe-text-section {
  width: 100%;
  padding: 0 var(--padding-left-right);
  /* border: 1px solid red; */
}

.preview.recipe-name {
  font-size: 20px;
  padding: 13px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* border: 1px solid red; */
}

.preview.recipe-instructions {
  color: var(--font-light-grey);
  font-weight: 300;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  /* border: 1px solid red; */
}

.preview.recipe-bottom {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* border: 1px solid red; */
}

.preveiw.recipe-tags {
  display: flex;
}

.preview.recipe-category {
  margin-right: 10px;
}
.view-recipe-btn {
  font-size: 11px;
  border: none;
  padding: 10px 20px;
  color: white;
  background-color: orangered;
  box-shadow: 0 10px 20px -10px orangered;
  border-radius: 3px;
}
/* ================
    recipes
   ================ */

.full-recipe-image-container {
  width: 30%;
  /* max-width: 300px; */
  /* object-fit: cover; */
  position: relative;
}

.full-recipe-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.full-recipe-header {
  /* border: 1px solid red; */
  min-width: 400px;
  padding: 15px 25px;
  color: white;
  background-color: rgba(0, 0, 0, 0.718);
  position: absolute;
  right: 20px;
  top: 30px;
}

.full-recipe-title {
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 10px;
}

.full-recipe-tags {
  display: flex;
}

.full-recipe.category {
  margin-right: 10px;
}

.full-recipe-text-container {
  width: 70%;
  /* border: 1px solid red; */
  padding: 20px 30px;
}

.full-recipe-body {
  /* border: 1px solid red; */
}

.receipe-ingridents-section {
  width: 100%;
  color: var(--font-dark-grey);
  /* border: 1px solid red; */
}

.ingredient-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  /* border: 1px solid red; */
}

.receipt-ingridents-details-container {
  width: 100%;
  max-height: 140px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  overflow: scroll;
  overflow-x: auto;
  overflow-y: auto;
  /* border: 1px solid red; */
}

/* .serve-amount-container{
  width: 170px;
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.serve-btn{
  width: 25px;
  height: 25px;
  background-color: rgba(255, 179, 0, 0.313);
  border: none;
  border-radius: 50%;
} */

.receipt-ingrident-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.ingredient-and-checkbox {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}

input[type='checkbox'] {
  display: none;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid grey;
  border-radius: 50%;
  margin-right: 15px;
}

input[type='checkbox']:checked + .custom-checkbox {
  background-color: rgb(255, 179, 0);
  border-color: rgb(255, 179, 0);
  position: relative;
}

input[type='checkbox']:checked + .custom-checkbox::after {
  content: '✓';
  font-size: 15px;
  color: white;
  position: absolute;
  top: -3px;
  left: 2px;
}

.receipt-ingrident-name {
  /* border: 1px solid red; */
}

.full-recipe-instructions-section {
  width: 100%;
  max-height: 300px;
  /* border: 1px solid red; */
}

.instructions-header {
  font-size: 24px;
  font-weight: bold;
  margin: 15px 0;
  /* border: 1px solid red; */
}

.full-recipe-instructions {
  width: 100%;
  height: 220px;
  padding-right: 10px;
  overflow: scroll;
  overflow-x: auto;
  overflow-y: auto;
  /* border: 1px solid green; */
}
