:root {
  --clr-header-background: rgb(255, 255, 255);
  --clr-main-background: rgb(245, 245, 245);
  --clr-light-grey: rgb(208, 208, 208);
  --clr-very-light-grey: rgb(243, 243, 243);
  --font-dark-grey: rgb(116, 116, 116);
  --font-light-grey: rgb(151, 151, 151);
  --font-orange: rgb(255, 123, 0);
  --icon-size: 20px;
  --scrollbar: rgb(189, 189, 189);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mukta', sans-serif;
  background-color: var(--clr-main-background);
  color: var(--font-dark-grey);
}

/* ================
    general
   ================ */

.header-container {
  width: 100vw;
  height: 60px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 0 10px 0 var(--clr-light-grey);
  /* border: 1px solid red; */
}

.homepage-img-section {
  width: 100vw;
  height: 430px;
  display: none;
  /* border: 1px solid red; */
}

.homepage-img-section.show {
  display: flex;
  flex-direction: column;
}

.main {
  height: 100%;
  background-color: var(--clr-main-background);
  /* border: 1px solid red; */
}

.landing-page {
  display: none;
  max-width: 1100px;
  width: 90%;
  margin: 25px auto;
  /* border: 1px solid red; */
}

.landing-page.show {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-section {
  display: none;
  /* border: 1px solid red; */
  max-width: 1100px;
  width: 90%;
  margin: 25px auto;
  margin-top: 30px;
}

.search-section.show {
  display: block;
}

.full-recipe-section {
  display: none;
  margin-top: 50px;
  max-width: 1100px;
  width: 90%;
  margin: 50px auto 25px;
  /* border: 1px solid red; */
}

.full-recipe-section.show {
  display: flex;
  position: relative;
}

/* ================
    header
   ================ */

.app-title {
  font-size: 25px;
  font-weight: bold;
  line-height: 40px;
  /* to adjust the text to be in the center of div */
  cursor: pointer;
}

.search-bar-container {
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  /* will fill the remaining space in the flex box */
  padding: 10px;
  margin: 0 40px;
  background-color: rgb(241, 241, 241);
  border-radius: 25px;
  transition: box-shadow 100ms ease;
}

.header.search-bar-container:hover,
.header.search-bar-container:focus-within {
  box-shadow: 0 0 0 1px lightgrey;
}

.header.search-bar-container:focus-within {
  background-color: white;
}

.search-input {
  background-color: inherit;
  width: 100%;
  font-size: 15px;
  border: none;
  outline: none;
  padding: 0 10px;
}

.search-input::placeholder {
  opacity: 0.3;
}

.search-btn {
  width: var(--icon-size);
  height: var(--icon-size);
  background-color: transparent;
  border: none;
  flex-shrink: 0;
  margin-right: 5px;
  cursor: pointer;
}

.search-btn > img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: all 200ms ease;
}

.search-btn:hover > img {
  opacity: 0.8;
}

.social-media-icons {
  width: 120px;
  font-size: 22px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media-icons > i {
  cursor: pointer;
  opacity: 0.9;
  transition: all 150ms ease;
}

.social-media-icons > i:hover {
  color: black;
}

.fa-twitter {
  font-size: 20px;
}

.vertical-divider {
  width: 1px;
  height: 50%;
  background-color: var(--clr-light-grey);
  margin-left: 25px;
  margin-right: 15px;
}

.account > a {
  text-decoration: none;
  color: var(--font-dark-grey);
  padding: 0 10px;
}

.account > a:hover {
  color: black;
}

.submit-recipe-btn {
  background-color: transparent;
  color: var(--font-dark-grey);
  border: 1px solid var(--clr-light-grey);
  padding: 8px 15px;
  margin-left: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 150ms ease;
}

.submit-recipe-btn:hover {
  border-color: var(--font-dark-grey);
}

/* ================
    homepage image
   ================ */

.homepage-img-section.show {
  background-image: url(images/welcoming-img.jpg);
  align-items: center;
  background-size: cover;
  background-position: 10% 40%;
}

.home-page-img-content {
  width: 700px;
  text-align: left;
  margin-top: 70px;
  /* border: 1px solid red; */
  background-color: rgba(0, 0, 0, 0.488);
  padding: 30px 100px;
  border-radius: 10px;
}

.slogan {
  font-size: 40px;
  color: white;
  margin-bottom: 20px;
}

.homepage.search-bar-container {
  min-width: 100%;
  height: 50px;
  background-color: rgb(252, 252, 252);
  padding: 0 15px;
  /* border: 1px solid red; */
  border-radius: 5px;
  margin: 0;
}

.homepage.search-bar-container:hover,
.homepage.search-bar-container:focus-within {
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.2);
}

.homepage.search-bar-container:focus-within {
  background-color: white;
}

.homepage.search-input {
  background-color: inherit;
  font-size: 17px;
  order: 2;
}

.homepage.search-btn {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}

.try-keywords-container {
  /* border: 1px solid red; */
  display: flex;
  color: rgba(255, 255, 255, 0.819);
  margin-top: 10px;
  font-size: 17px;
}

.try-keywords {
  display: flex;
  list-style: none;
}

.try-keywords > li {
  color: rgb(255 188 47);
  cursor: pointer;
}

.try-keywords > li:hover {
  color: rgb(255, 141, 41);
}
/* ================
    landing-page
   ================ */

.categories-section {
  /* border: 1px solid red; */
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.categories-section-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.categories-container {
  padding-bottom: 10px;
  margin-bottom: 25px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  /* visibility: hidden; */
  overflow: hidden;
  overflow-x: auto;
  overflow-y: auto;
  /* styling scrollbars on firefox */
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: var(--scrollbar) transparent;
}

/* .categories-container:hover {
  visibility: visible;
} */

/* styling scrollbars on Chrome, Edge, and Safari */
.categories-container::-webkit-scrollbar {
  height: 10px;
  cursor: pointer;
}

.categories-container::-webkit-scrollbar-track {
  background: transparent;
}

.categories-container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 5px;
  border-top: 2px solid var(--clr-main-background);
  border-bottom: 2px solid var(--clr-main-background);
}

.category-block {
  min-width: 110px;
  height: 90px;
  margin-right: 10px;
  box-shadow: 0 0 5px -1px lightgray;
  padding: 20px;
  background-color: white;
  /* visibility: visible; */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
  transition: all 200ms ease;
}

.category-block:hover {
  background-color: rgba(252, 210, 113, 1);
  border-color: transparent;
  box-shadow: 0 15px 15px -10px lightgray;
}

.category-block > img {
  pointer-events: none;
}

.category-name {
  line-height: 1.2;
  margin-top: 10px;
  /* will trigger parent element's event listener directly when being clicked, i.e. categoriesContainer */
  pointer-events: none;
}

.suggestion-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.suggested-recipe-title {
  font-size: 18px;
  font-weight: bold;
  /* border: 1px solid red; */
}

.suggested-reason {
  color: var(--font-light-grey);
  font-weight: 300;
  font-style: italic;
  line-height: 1;
  margin-top: 5px;
  margin-bottom: 20px;
  /* border: 1px solid red; */
}

.previous-search {
  color: rgb(0, 146, 5);
}

.suggested-recipes-container {
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
  /* styling scrollbars on firefox */
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: var(--scrollbar) transparent;
}

/* styling scrollbars on Chrome, Edge, and Safari */
.suggested-recipes-container::-webkit-scrollbar {
  height: 10px;
  cursor: pointer;
}

.suggested-recipes-container::-webkit-scrollbar-track {
  background: transparent;
}

.suggested-recipes-container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 5px;
  border-top: 2px solid var(--clr-main-background);
  border-bottom: 2px solid var(--clr-main-background);
}

.suggested-recipe-container {
  min-width: 260px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

.suggested-recipe-container:hover::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 40px;
}

.suggested-recipe-container > img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 5px;
  flex-shrink: 0;
}

.suggestion.recipe-name {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.4;
  padding: 0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* border: 1px solid red; */
}

.suggestion.recipe-instructions {
  width: 100%;
  font-weight: 300;
  color: var(--font-light-grey);
  line-height: 1.4;
  margin: 10px 0;
  padding: 0 5px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  /* border: 1px solid red; */
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--clr-light-grey);
  margin-top: 10px;
  /* border: 1px solid red; */
}

.suggestion-bottom {
  height: 30px;
  margin-top: 10px;
  padding: 0 5px;
  display: flex;
  align-items: flex-end;
  position: relative;
  /* border: 1px solid red; */
  cursor: default;
}

.suggestion.owner-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  opacity: 0.6;
  cursor: pointer;
}

.suggestion.owner-img:hover {
  opacity: 0.9;
}

.suggestion.recipe-category,
.suggestion.recipe-area {
  font-weight: 300;
  margin-right: 10px;
  color: var(--font-orange);
  border-radius: 10px;
  line-height: 1;
  cursor: pointer;
  /* border: 1px solid red; */
}

.suggestion.recipe-category:hover,
.suggestion.recipe-area:hover {
  color: orangered;
}
/* ================
    search-section
   ================ */

.search-section-title {
  font-size: 25px;
  font-weight: bold;
  /* border: 1px solid  red; */
}

.search-results-num {
  font-weight: 300;
  /* border: 1px solid  red; */
}

.search-section-body {
  width: 100%;
  /* border: 1px solid  red; */
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, minmax(230px, 1fr));
  gap: 30px;
}

.preview.result-container {
  --padding-left-right: 25px;

  border-radius: 8px;
  background-color: white;
  padding: 0px 0 20px;
  box-shadow: 0 0 15px 0 lightgrey;
}

.recipe-owner-details-container {
  width: 100%;
  padding: 15px var(--padding-left-right) 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  position: relative;
  z-index: 2;
}

.preview.owner-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
  transition: all 150ms ease;
}

.preview.owner-img:hover {
  cursor: pointer;
  opacity: 0.6;
}

.owner-details-text {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}

.share-time {
  color: var(--font-light-grey);
  font-weight: 300;
}

.preview.recipe-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  /* border: 1px solid red; */
}

.preview.recipe-text-section {
  width: 100%;
  padding: 0 var(--padding-left-right);
  /* border: 1px solid red; */
}

.preview.recipe-name {
  font-size: 20px;
  padding: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* border: 1px solid red; */
}

.preview.recipe-instructions {
  color: var(--font-light-grey);
  font-weight: 300;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  /* border: 1px solid red; */
}

.preview.recipe-bottom {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* border: 1px solid red; */
}

.preveiw.recipe-tags {
  display: flex;
}

.preview.recipe-category {
  margin-right: 10px;
}

.preview.recipe-category,
.preview.recipe-area {
  transition: all 150ms ease;
}

.preview.recipe-category:hover,
.preview.recipe-area:hover {
  cursor: pointer;
  color: var(--font-orange);
}

.view-recipe-btn {
  font-size: 11px;
  border: none;
  padding: 10px 20px;
  color: white;
  background-color: orangered;
  border-radius: 3px;
  transition: all 150ms ease;
}

.view-recipe-btn:hover {
  cursor: pointer;
  box-shadow: 0 10px 20px -10px orangered;
}
/* ================
    recipes
   ================ */

.fa-angle-left,
.fa-angle-right {
  padding: 8px 14px;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.124);
  position: absolute;
  top: 250px;
  /* border: 1px solid red; */
}

.fa-angle-left {
  left: -85px;
}

.fa-angle-right {
  right: -85px;
}

.fa-angle-left:hover,
.fa-angle-right:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.216);
}

.full-recipe-header-section {
  width: 30%;
  position: relative;
}

.full-recipe-text-container {
  width: 70%;
  /* border: 1px solid red; */
  padding: 20px 0 20px 30px;
  position: relative;
}

.full-recipe-header {
  /* border: 1px solid red; */
  min-width: 400px;
  padding: 15px 25px;
  color: white;
  background-color: rgba(0, 0, 0, 0.718);
  position: absolute;
  right: 20px;
  top: 30px;
}

.full-recipe-title {
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 10px;
}

.full-recipe-tags {
  display: flex;
}

.full-recipe.category,
.full-recipe.area {
  margin-right: 10px;
  transition: all 150ms ease;
}

.full-recipe.category:hover,
.full-recipe.area:hover {
  cursor: pointer;
  color: var(--font-orange);
}

.full-recipe-owner-details-container {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  /* border: 1px solid red; */
  position: relative;
  z-index: 2;
}

.full-recipe.owner-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 15px;
  background-color: white;
  transition: all 150ms ease;
}

.full-recipe.owner-img:hover {
  cursor: pointer;
  opacity: 0.9;
}

.owner-details-text {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  font-size: 14px;
  /* border: 1px solid red; */
}

.full-recipe-share-time {
  color: var(--font-light-grey);
  font-weight: 300;
}

.full-recipe-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.receipe-ingridents-section {
  width: 100%;
  color: var(--font-dark-grey);
  /* border: 1px solid red; */
}

.ingredient-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  /* border: 1px solid red; */
}

.receipt-ingridents-details-container {
  width: 100%;
  max-height: 140px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  overflow: scroll;
  overflow-x: auto;
  overflow-y: auto;
  /* border: 1px solid red; */
}

.receipt-ingrident-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 10px;
}

input[type='checkbox'] {
  display: none;
}

.receipt-ingrident-name {
  /* border: 1px solid red; */
  margin-right: 20px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 2px solid grey;
  border-radius: 50%;
  margin-right: 15px;
  flex-shrink: 0;
  transition: all 150ms ease;
}

.custom-checkbox:hover {
  cursor: pointer;
}

input[type='checkbox']:checked + label .custom-checkbox {
  background-color: rgb(255, 179, 0);
  border-color: rgb(255, 179, 0);
  position: relative;
}

input[type='checkbox']:checked + label .custom-checkbox::after {
  content: '✓';
  font-size: 15px;
  color: white;
  position: absolute;
  top: -3px;
  left: 3px;
}

.receipt-ingrident-amount {
  text-align: right;
}

.full-recipe-instructions-section {
  width: 100%;
  max-height: 300px;
  /* border: 1px solid red; */
}

.instructions-header {
  font-size: 24px;
  font-weight: bold;
  margin: 15px 0;
  /* border: 1px solid red; */
}

.full-recipe-instructions {
  width: 100%;
  height: 220px;
  padding-right: 10px;
  overflow: scroll;
  overflow-x: auto;
  overflow-y: auto;
  /* border: 1px solid green; */
}

/* ================
    media query
   ================ */

@media all and (max-width: 1310px) {
  /* ======== full recipe ======== */
  .full-recipe-section {
    width: 70%;
  }

  .receipt-ingridents-details-container {
    column-gap: 30px;
  }
}

@media all and (max-width: 1145px) {
  /* ======== header ======== */
  .submit-recipe-btn {
    display: none;
  }

  /* ======== search result ======== */
  .search-section-body {
    grid-template-columns: repeat(2, minmax(230px, 400px));
    justify-content: center;
  }

  /* ======== full recipe ======== */
  .full-recipe-section.show {
    flex-direction: column;
  }

  .full-recipe-header-section {
    width: 100%;
  }

  .full-recipe-header {
    left: -85px;
    right: auto;
  }

  .full-recipe-image {
    height: 300px;
  }

  .full-recipe-text-container {
    width: 100%;
  }

  .full-recipe-instructions {
    height: auto;
  }
}

@media all and (max-width: 1010px) {
  /* ======== header ======== */
  .social-media-icons,
  .vertical-divider {
    display: none;
  }
}

@media all and (max-width: 860px) {
  /* ======== header ======== */
  .header-container {
    padding: 0 5%;
  }
  .search-bar-container {
    margin: 0 10px;
  }

  /* ======== full recipe ======== */
  .full-recipe-section {
    width: 90%;
    margin-top: 20px;
  }

  .switch-btns {
    margin-bottom: 10px;
  }

  .fa-angle-left,
  .fa-angle-right {
    position: static;
    font-size: 15px;
    padding: 5px 10px;
  }

  .full-recipe-header {
    left: -35px;
    top: 10px;
  }

  .full-recipe-title {
    font-size: 26px;
  }

  .full-recipe-owner-details-container {
    width: auto;
    position: absolute;
    bottom: 15px;
    right: 20px;
  }

  .full-recipe-instructions {
    max-height: 220px;
  }
}

@media all and (max-width: 800px) {
  /* ======== header ======== */
  .search-bar-container {
    flex: none;
    width: 160px;
  }

  /* ======== landing page ======== */

  .homepage-img-section {
    height: 300px;
  }

  .home-page-img-content {
    width: 500px;
    margin-top: 37px;
    padding: 20px 50px;
  }

  .slogan {
    font-size: 30px;
    margin-bottom: 15px;
  }
  
  .homepage.search-bar-container {
    height: 40px;
  }

  /* ======== search result ======== */
  .search-section-body {
    grid-template-columns: repeat(1, minmax(230px, 400px));
    justify-content: center;
    margin-top: 20px;
  }
}

@media all and (max-width: 650px) {
  .receipt-ingridents-details-container {
    display: block;
    max-width: 400px;
    margin: 0 auto;
  }
}
@media all and (max-width: 585px) {
  /* ======== header ======== */
  .search-bar-container {
    flex: none;
    width: 160px;
  }

  .account {
    display: none;
  }

  /* ======== landing page ======== */
  .categories-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }

  .category-block {
    min-width: auto;
    height: auto;
    padding: 10px;
    margin: 0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .category-block > img {
    margin-right: 5px;
    width: 20px;
  }

  .category-name {
    margin-top: auto;
  }

  .suggested-recipes-container {
    flex-direction: column;
  }

  .suggested-recipe-container {
    max-width: 310px;
    margin: 0 auto 45px;
  }
}

@media all and (max-width: 450px) {
  /* ======== homepage image ======== */
  .homepage-img-section.show {
    display: none;
  }

  /* ======== landing page ======== */
  .categories-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (max-width: 405px) {
  /* ======== header ======== */
  .app-title {
    font-size: 20px;
  }
  .search-bar-container {
    margin: 0 5px;
  }

  /* ======== search result ======== */
  .search-section-title {
    font-size: 20px;
  }

  /* ======== full recipe ======== */
  .full-recipe-header {
    min-width: 350px;
  }
  .full-recipe-title {
    font-size: 20px;
  }

  .full-recipe-text-container {
    padding: 10px;
  }
}
